<!DOCTYPE html>
<html>
    <head>
        <title>Sameroomapp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/jquery/jquery.mobile-1.2.1.min.css" />
        <script type="text/javascript" src="/assets/jquery/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/assets/jquery/jquery.mobile-1.2.1.min.js"></script>

        <script type="text/javascript">
            @include("view.md5.js")
            @include("view.app.js")
            @include("view.nano.js")
        </script>
    </head>
<body>

    <div data-role="page" id="login">
        <div data-role="header">
            <h1>Anmelden</h1>
        </div>
        <div data-role="content">
            <a href="#" data-role="button" onclick="createIdentity()">Konto erstellen</a>
        </div>
    </div>


    <div data-role="page" id="editAccount">
        <div data-role="header">
            <a href="#" data-icon="arrow-l" onclick="$.mobile.changePage('#main')" class="ui-btn-left">Zurück</a>
            <h1>Konto</h1>
        </div>
        <div data-role="content">
            <form>
                <label for="editAccountName">Name</label>
                <input data-clear-btn="true" name="editAccountName" id="editAccountName" value="" type="text">
                <label for="editAccountCompany">Firma</label>
                <input data-clear-btn="true" name="editAccountCompany" id="editAccountCompany" value="" type="text">
                <label for="editAccountPosition">Position</label>
                <input data-clear-btn="true" name="editAccountPosition" id="editAccountPosition" value="" type="text">
                <label for="editAccountPhone">Tel.</label>
                <input data-clear-btn="true" name="editAccountPhone" id="editAccountPhone" value="" type="text">
                <label for="editAccountMail">eMail</label>
                <input data-clear-btn="true" name="editAccountMail" id="editAccountMail" value="" type="text">
                <input type="button" onclick="updateAccount()" value="Speichern">
            </form>
        </div>
    </div>

    <div data-role="page" id="joinRoom">
        <div data-role="header">
            <a href="#" data-icon="arrow-l" onclick="$.mobile.changePage('#main')" class="ui-btn-left">Zurück</a>
            <h1>Raum betreten</h1>
        </div>
        <div data-role="content">
            <form>
                <label for="joinRoomCode">Code</label>
                <input data-clear-btn="true" name="joinRoomCode" id="joinRoomCode" value="" type="text">
                <input type="button" onclick="joinRoom()" value="Beitreten">
            </form>
        </div>
    </div>

    <div data-role="page" id="createRoom">
        <div data-role="header">
            <a href="#" data-icon="arrow-l" onclick="$.mobile.changePage('#main')" class="ui-btn-left">Zurück</a>
            <h1>Raum erstellen</h1>
        </div>
        <div data-role="content">
            <form>
                <label for="createRoomName">Name</label>
                <input data-clear-btn="true" name="createRoomName" id="createRoomName" value="" type="text">
                <label for="createRoomLocation">Veranstaltungsort</label>
                <input data-clear-btn="true" name="createRoomLocation" id="createRoomLocation" value="" type="text">
                <input type="button" onclick="createRoom()" value="Erstellen">
            </form>
        </div>
    </div>

    <div data-role="page" id="room">
        <div data-role="header">
            <a href="#" data-icon="arrow-l" onclick="$.mobile.changePage('#main')" class="ui-btn-left">Zurück</a>
            <h1 id="roomName"></h1>
            <div id="roomLocation" style="font-size: small; text-align: center"></div>
            <a href="#" data-icon="gear" id="" onclick="refreshRoom()" class="ui-btn-right">Aktualisieren</a>
        </div>
        <div data-role="content">
            <div id="roomToken">
                <div><a href="#" onclick="$('#roomTokenImgContainer').toggle()" id="roomTokenLink"></a></div>
                <div id="roomTokenImgContainer"><img id="roomTokenImg" src="" /></div>
            </div>
            <ul id="roomQuests" data-role="listview" data-inset="true">
                <li><a href="#">
                    <img src="http://192.168.192.69:9000/assets/images/defaultAvatar.jpg" />
                    <h2>Broken Bells</h2>
                    <p>Broken Bells</p></a>
                </li>
            </ul>
        </div>
    </div>



    <div data-role="page" id="main">

        <div data-role="header">
            <h1>Sameroomapp</h1>
            <div id="idContainer"></div>
        </div>

        <div data-role="content">
            <a href="#" data-role="button" onclick="prepareJoinRoom()">Raum beitreten</a>
            <a href="#" data-role="button" onclick="$.mobile.changePage('#createRoom')">Raum erstellen</a>
            <a href="#" data-role="button" onclick="showHistory()">Historie</a>
            <a href="#" data-role="button" onclick="editAccount()">Konto bearbeiten</a>
            <a href="#" data-role="button" onclick="killIdentity()">Konto löschen</a>
        </div>
    </div>

</body>